extends layout.pug
block index
    main
        include includes/slider.pug
        include includes/services.pug
        include includes/works.pug
        include includes/client.pug
        include includes/teams.pug
        include includes/posts.pug
        include includes/contact.pug
        include includes/connect.pug
