.coding {
    background-color: #f4f4f4;
    @include clearfix;
    &__title {
        &--pc {
            display: none;
        }
    }
    &__item {
        display: flex;
        flex-direction: row;
    }
    &__icon {
        margin: 0 0 0 12px;
        font-size: 72px;
        width: 146px;
    }
    &__details {
        margin: 0 25px 50px;
    }
    &__title {
        font-family: $font-title;
        font-size: 16px;
        font-weight: 700;
        color: #323232;
        margin-bottom: 22px;
    }
    &__detail {
        line-height: 21px;
    }
    &__image {
        float: right;
    }
    &__image {
        box-shadow: -4px -4px 72px -16px rgba(0, 0, 0, 0.66);
        max-width: inherit;
    }
}

@media (min-width: 1170px) {
    .coding {
        @include clearfix;
        padding-top: 85px;
        max-height: 600px;
        &__title {
            &--pc {
                display: block;
            }
            &--mobile {
                display: none;
            }
        }
        &__list {
            float: left;
            width: 50%;
            padding-top: 15px;
        }
        &__images {
            margin-top: 25px;
        }
        &__image {
            float: right;
            max-width: 50%;
            img {
                border-radius: 5px;
            }
        }
    }
}