section#client-say
    h3 what our client say
    blockquote
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus semper pellentesque odio, quis
        | pharetra augue iaculis in. Curabitur accumsan nisi non lorem pretium luctus. Quisque auctor quam
        | quis viverra faucibus. Quisque vel quam nunc. Nam ut nunc bibendum, congue leo id, condimentum odio.
        | Vestibulum sodales magna in mi fringilla mollis sed ut quam. Mauris vel sapien erat. Vestibulum ut
        | enim odio. Vivamus at ante sodales, pharetra magna at, iaculis urna. Sed ut est nec arcu rhoncus
        | convallis.
    small.client-author Obama Cliton
