section#connect-us
    h2 connect us
    ul
        li
            a(href='')
                img(src='/', alt='/')
                h3 FACEBOOK
                p Connect us with facebook
        li
            a(href='')
                img(src='/', alt='/')
                h3 TWITTER
                p Connect us with twitter
        li
            a(href='')
                img(src='/', alt='/')
                h3 DRIBLLE
                p Connect us with latest
        li
            a(href='')
                img(src='/', alt='/')
                h3 TUMBLE
                p Connect us with tumble
