-
   var services = [
        {
            title: 'outsourcing 1',
            desc: 'Lorem ipsum dolor sit amet 1',
        },
        {
            title: 'outsourcing 2',
            desc: 'Lorem ipsum dolor sit amet 2',
        },
        {
            title: 'outsourcing 3',
            desc: 'Lorem ipsum dolor sit amet 3',
        },
    ]
    
mixin servicesItem(title, desc)
    li
        i.fas.fa-band-aid
        h3= title
        p= desc
section#our-services
    h2 our services
    ul
        each service in services
            +servicesItem(service.title,service.desc)
