@media screen and (min-width: 960px) {
    .container {
        max-width: 960px;
    }
    .section {
        padding: 86px 0 88px;
        &__title {
            font-size: 17px;
            margin-bottom: 60px;
        }
    }
}