@import 'reset';
@import 'mixin';
body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: #FFFFFF;
}

.section {
    @include clearfix;
    margin: 100px;
    &__title {
        font-size: 30px;
        margin: 0 10px;
        padding: 30px;
    }
    &__item {}
}

.hide {
    display: none;
}

@import 'editor';
@import 'form';
@import 'input';