label {
    width: 25%;
    display: inline-block
}

select {
    padding: 8px;
    background: #EFEFEF;
    border: 1px solid #b1b1b1;
}

input[type=text] {
    width: 70%;
    display: inline-block;
    padding: 5px;
    background: #EFEFEF;
    border: 1px solid #EFEFEF;
}

input[type=button] {
    padding: 8px;
    background: #EFEFEF;
    border: 1px solid #b1b1b1;
}

.input-group {
    margin: 10px 0;
}

.form-group {
    
}